@model IEnumerable<PhoneBookWebApp.Models.Address>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.People.FirstName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Country.CountryName) ,
        @*</th>

        <th>*@
            @Html.DisplayNameFor(model => model.State.StateName) ,
        @*</th> 
        <th>*@
            @Html.DisplayNameFor(model => model.City.CityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressOne)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressTwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PinCode)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.People.FirstName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Country.CountryName) ,
    @*</td>
    <td>*@
        @Html.DisplayFor(modelItem => item.State.StateName) ,
    @*</td>

    <td>*@
        @Html.DisplayFor(modelItem => item.City.CityName)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.AddressOne)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AddressTwo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PinCode)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
